//ANIMATIONS
@keyframes animate-title{
    0% {
        transform:scale(0)
        
    }
    100%{
       transform:scale(1)
    }
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    max-width:100%;
    font-size: 1.2rem;
    min-height: 100%!important;
}

$color--main: #d60c0c;

.bg--color{
    background-color: $color--main;
}

.text--color{
    color: $color--main;
}

.text{
    animation: animate-title 1700ms ease;
    max-width: 17rem;
    font-size:1.8rem;
    font-family: 'Permanent Marker', cursive;
   letter-spacing: 0.2rem;;
}



@media all and (max-width:500px){
    h1 a{
        font-size: 1rem!important;
    }
}

@media all and (max-width:400px){
    .navbar h1 a{
        font-size: 0.8rem!important;

    }
    .navbar-toggler{
        padding:0.2rem;
    }
}

@media all and (max-width: 350px){
    .navbar h1 a{
        padding-left: 0!important;
    }
}